img {
    width:80%;
}

#user-svg {
    width:45px;
    height:45px;
}

#home {
    background-image:url("images/dairy2.jpg");
}

.card {
    opacity:0.9;
    margin: 20px 20px;
    box-shadow: 10px 10px 5px grey;
}

#products {
    background-image:url("images/grey-pattern.jpg");

}

.card-img-top{
    width:60px;
    height:60px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

h1,h2,h3,h3,h4,h5 {
    font-family:'lobster';
    text-align: center;
}

.page-footer {
    color:white;
    text-align:left;
}

input[type=text] {
    width:40%
    border-radius: 15px;
}

#orderbtn {
    margin: auto;
    width:80px;
}

.form-group {
    margin: 20px 20px 20px 20px;
}

#card-pig{
    color: black;
}

#card-poultry{
    color: black;
}

#card-dairy{
    color: black;
}

#footer-list{
    color:white;
}

.foot{
    font-family:'lobster';
}


