{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<div class="container" id="home">
    <div>
        <h1>angro feeds</h1>
    </div>
    <div class="row" >
        <div class="card" style="width: 18rem;" id="card">
              <img class="card-img-top" src="{{chicken.categoryImage.url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{chicken.categoryname}}</h5>
                <p class="card-text">{{chicken.categoryDescription}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Layers</li>
                <li class="list-group-item">Growers</li>
                <li class="list-group-item">Chick Mash</li>
              </ul>
              <div class="card-body">
                <a href="#" class="btn btn-outline-dark">place order</a>
                <a href="#" class="btn btn-dark">see more</a>
              </div>
        </div>
        <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{dairy.categoryImage.url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{dairy.categoryname}}</h5>
                <p class="card-text">{{dairy.categoryDescription}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Dairy meal</li>
                <li class="list-group-item">Maize Germ</li>
                <li class="list-group-item">Bran</li>
              </ul>
               <div class="card-body">
                <a href="#" class="btn btn-outline-dark">place order</a>
                <a href="#" class="btn btn-dark">see more</a>
              </div>
        </div>
        <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{pig.categoryImage.url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{pig.categoryname}}</h5>
                <p class="card-text">{{pig.categoryDescription}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
             <div class="card-body">
                <a href="#" class="btn btn-outline-dark">place order</a>
                <a href="#" class="btn btn-dark">see more</a>
              </div>
        </div>
    </div>
</div>

</html>


{% endblock %}