{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<div class="container">
    <div class="row" id="home">
        <div class="card" style="width: 18rem;" id="card">
              <img class="card-img-top" src="{% static 'images/chicken.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Chicken Feeds</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
        </div>
        <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/cow.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Dairy Feeds</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
        </div>
        <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/pig.png'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pig Farming</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
        </div>
    </div>
</div>

</html>


{% endblock %}